@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* Header */
  .mob-header-btn {
    display: none;
  }
  .main-header-list {
    display: flex;
    gap: 40px;
  }
  .header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .in-activ {
    color: #404bbf;
  }

  .in-activ::after {
    content: "";
    color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .header-link:hover {
    color: #404bbf;
  }
  .header-link:focus {
    color: #404bbf;
  }
  .header-item-contact {
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
  }
  .header-item-contact{
    margin-bottom: 12px;
  }
  .header-list{
    padding-top: 16px;
  }
  /* About */
  .about-list-mobile{
    display: flex;
    flex-wrap: wrap;

  }
}
